.title,
.subHeading {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}


.solveVideo {
  border: light-dark(
    1px solid var(--mantine-color-gray-3),
    1px solid var(--mantine-color-dark-4)
  );
  border-radius: var(--mantine-radius-lg);
}