.container {
  padding: 2rem;
}

.title {
  margin-bottom: 1rem;
}

.title,
.subHeading,
.notationMove {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.description {
  margin-bottom: 2rem;
}