.header {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 2rem);
  max-width: 1280px;
  border-radius: 20px;
  z-index: 1000;
  background-color: var(--mantine-color-body);
  overflow: hidden;
  transition: height 0.3s ease;
  box-shadow: var(--mantine-shadow-sm);
  border: light-dark(
    1px solid var(--mantine-color-gray-3),
    1px solid var(--mantine-color-dark-4)
  );
}

.link {
  line-height: 1;
  padding: 0.5rem 1rem;
  border-radius: var(--mantine-radius-md);
  text-decoration: none;
  color: inherit;
  font-size: var(--mantine-font-size-md);
  font-weight: 500;
  transition: all 0.15s;

  @mixin hover {
    background-color: var(--mantine-color-blue-light);
    color: var(--mantine-color-blue-light-color);
  }
}

.activeLink {
  background-color: var(--mantine-color-blue-light);
  color: var(--mantine-color-blue-light-color);
}
