.mainTitle {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-weight: bold;
  margin-bottom: 3rem;
}

.timelineTitle {
  font-size: 1.5rem;
  font-weight: 700;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  letter-spacing: -0.05em;
}

.timelineText {
  text-wrap: pretty;
}

@media (min-width: 768px) {
  .timelineTitle {
    font-size: 1.75rem;
  }
}
